$grey: #fbfafc #f8f7f9 #f5f3f7 #f1eff4 #eeebf1 #eae7ee #eae7ee #c3c1c6 #9c9a9f
    #757477 #4e4d4f #2f2e30;
$main: #d3d9dc #b6c0c4 #91a0a7 #6c8089 #48616c #23414e #23414e #1d3641 #172b34
    #122127 #0c161a #070d10;
$secondary: #cceef4 #aae2ec #80d4e3 #55c6d9 #2bb7d0 #00a9c6 #00a9c6 #008da5
    #007184 #005563 #003842 #002228;
$accent1: #ecfcf2 #dff9ea #d0f7e0 #c0f4d5 #b0f1cb #a0eec0 #a0eec0 #85c6a0
    #6b9f80 #507760 #354f40 #203026;
$accent2: #fee4dd #fed3c7 #febdab #fda68f #fd9073 #fc7a57 #fc7a57 #d26649
    #a8513a #7e3d2c #54291d #321811;

$mc: nth($main, 6);
$sc: nth($secondary, 6);
$ac1: nth($accent1, 6);
$ac2: nth($accent2, 6);
$gc: nth($grey, 6);
$gc-light: nth($grey, 3);
$gc-dark: nth($grey, 10);
$ec: #ff4d4f;

$white: white;
$black: nth($grey, 12);

$small-gap: 8px;
$big-gap: 16px;

$radius: 4px;
$drop-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);

$font: 'Avenir', sans-serif;

$link: nth($secondary, 6);

$shadow: 0px 5px 10px 0px rgba(nth($grey, -1), 0.15);
$shadow-smooth: 0px 0px 5px 0px rgba(nth($grey, -1), 0.05);
